/* Fonts */
@font-face {
  font-family: Poppins-Regular;
  src: url("../fonts/poppins/Poppins-Regular.ttf");
}

/*General Styles*/
html {
  scroll-behavior: smooth;
  font-family: 'Poppins-Regular', serif;
}

body {
  overflow-x: hidden;
}

/*Navigation Menu*/
#navigation-bar {
  background-color: #9376db;
  #nav-title {
    font-size: 2rem;
    font-weight: 200;
    color: #ffffff;
    transition: 0.3s;
  }
  #nav-title:hover {
    color: #6610f2;
    transition: 0.3s;
  }
  #main-title {
    transition: 0.3s;
  }
  #main-title:hover {
    color: #6610f2;
    transition: 0.3s;
  }
  .nav-link:hover {
    color: whitesmoke;
    transition: 0.3s;
  }
  .nav-link {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.9rem;
    transition: 0.3s;
  }
  .nav-link.active {
    color: #6610f2;
  }
}

/*Hero Section */
#hero {
  background: url("../images/pexels-fauxels-3184464.jpg") bottom center / cover no-repeat;
  min-height: 100vh;
  h1 {
    line-height: 0.8;
  }
  h1, h3 {
    text-shadow: 1px 1px 4px black;
  }

  #overlay {
    background: rgba(0,0,0,0.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 112%;
    z-index: 1;
  }
}

/*Section 1*/
#sec1 {
  min-height: 90vh;
  #about-1 {

  }
  #about-2 {

  }
  #about-text {
    line-height: 2;
  }

  img {
    margin: 0 auto;
    width: 300px;
    height: 300px;
  }
}

/*Section 2*/
#sec2 {
  h1 {
    text-shadow: 2px 2px 4px black;
    line-height: 0.9;
  }

  #grid1 {
    background: url("../images/pexels-christina-morillo-1181244.jpg") bottom center / cover no-repeat;
    min-height: 100vh;
    transition: transform .2s;
  }
  #grid1:hover {
    transform: scale(1.1);
  }
  #grid2 {
    background: url("../images/pexels-alexander-dummer-134469.jpg") bottom center / cover no-repeat;
    min-height: 100vh;
    transition: transform .2s;
  }
  #grid2:hover {
    transform: scale(1.1);
  }
  #grid3 {
    background: url("../images/pexels-kaboompics-com-6444.jpg") bottom center / cover no-repeat;
    min-height: 100vh;
    transition: transform .2s;
  }
  #grid3:hover {
    transform: scale(1.1);
  }
  #grid4 {
    background: url("../images/pexels-negative-space-160107.jpg") bottom center / cover no-repeat;
    min-height: 100vh;
    transition: transform .2s;
  }
  #grid4:hover {
    transform: scale(1.1);
  }
}

/* Section 3 */
#carousel {
  #color1 {
    min-height: 100vh;
    background: #6610f2;
  }
  #color2 {
    min-height: 100vh;
    background: #8138ff;
  }
  #color3 {
    min-height: 100vh;
    background: #b65fff;
  }
  img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
  }
}
#cards {
  min-height: auto;

  button {
    border-radius: 50px;
  }

  .card, .card-header {
    border-radius: 2rem;
  }

  #pricing-card-text {
    line-height: 2;
    font-weight: 100;
  }
}

#parallax {
  position: relative;
  background-image: url(../images/pexels-fauxels-3183197.jpg);
  min-height: 80vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  #overlay {
    background: rgba(0,0,0,0.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  h1 {
    text-shadow: 1px 1px 4px black;
  }
}

#newsletter {
  #social-media {
    h1 {
      text-transform: uppercase;
      font-size: 1.25rem;
      font-weight: 100;
    }

    #social {
      #facebook:hover {
        color: royalblue;
      }

      #instagram:hover {
        color: hotpink;
      }

      #twitter:hover {
        color: dodgerblue;
      }
    }
  }
}

#team {
  button {
    border-radius: 50px;
  }
  img {
    height: 200px;
    width: 200px;
  }

  .card, .card-header {
    border-radius: 2rem;
    h3 {
      font-weight: 100;
      color: #0d6efd;
    }
  }

  .bio {
    p {
      line-height: 1;
    }
  }
}

#footer {
  background: #0d6efd;
  h1 {
    font-weight: 200;
  }
  hr {
    border: 2px solid;
  }
  p {
    font-weight: 100;
  }
  #footer-text {
    line-height: 1.7;
  }

/*  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      padding-bottom: 3px;
    }

  }*/
  a {
    font-weight: 100;
  }

  a:link {
    color: #ffffff;
    text-decoration: none;
  }

  a:visited {
    color: #ffffff;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  a:active {
    text-decoration: underline;
  }
}
// Media Queries
@media screen and (max-width: 992px) {
  /*#hero {
    background: #0dcaf0;
    min-height: auto;
  }*/
}

@media screen and (max-width: 600px) {
  /*#hero {
    background: #0dcaf0;
    min-height: auto;
  }*/
}